* {
  margin: 0;
  font-family: "Inter";
  font-family: "Open Sans";
}

.primary-button {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  border: 0;
  padding: 12px 15px;
  width: 160;
  border-radius: 5px;
  background: #ff5959;
}

img {
  border-radius: 10px;
}

/* heder section */
.header {
  background-image: linear-gradient(0deg, #121212 0%, rgba(18, 18, 18, 0) 100%),
    url(../images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100%; */
  height: 700px;
  /* background: linear-gradient(0deg, #121212 0%, rgba(18, 18, 18, 0) 100%); */
}

.header-title {
  color: white;
  text-align: center;
  padding: 150px 0 30px 0;
  font-weight: 700;
  font-size: 65px;
}

.header-description {
  color: white;
  text-align: center;
  padding: 0 350px 0 350px;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 50px;
}
.donate-button {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Donate Amount Section */
.section-title {
  color: black;
  text-align: center;
  margin-top: 130px;
  font-weight: 700;
  font-size: 45px;
}
.section-description {
  color: #707070;
  text-align: center;
  padding: 25px 350px 35px 350px;
  font-size: 15px;
  margin-top: 10px;
}
.donate-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 250px;
  margin-bottom: 30px;
}
.donate-amount .amount p {
  margin-top: 35px;
}
.amount {
  font-weight: bold;
  padding: 20px;
  background-color: #fcf7f7;
  height: 120px;
  width: 135px;
  color: #707070;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
}
.donate-today input {
  text-align: center;
  margin-top: 40px;
  width: 40%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgb(172, 167, 167);
  margin-left: 440px;
  font-size: 20px;
}

/* Donate plan section */
.donate-plan-container {
  display: flex;
  gap: 24px;
  margin: 0 155px;
  padding: 45px;
  margin-bottom: 150px;
}
.icon {
  margin-top: 50px;
}
.donate-plan-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}
.donate-plan-description {
  font-size: 15px;
  color: #707070;
  margin-top: 30px;
  margin-bottom: 50px;
}
.donate-plan-1 {
  border-radius: 5px;
  background: #4f9da61a;
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.donate-plan-2 {
  border-radius: 5px;
  background: #fe56561a;
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.donate-plan-3 {
  border-radius: 5px;
  background: #fff4d6 10%;
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* motivation section */
.donate-motivation {
  margin-top: 150px;
}

/* motivation-1 */
.motivation-1 {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}
.motivation-title {
  color: black;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 30px;
}
.motivation-description {
  color: #707070;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.motivation-image {
  margin-right: 210px;
}
.motivation-details {
  margin-left: 210px;
}

/* motivation-2 */
.motivation-2 {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}
.motivation-image-2 {
  margin-left: 210px;
}
.motivation-details-2 {
  margin-right: 210px;
}
.motivation-details-2 .primary-button {
  margin-bottom: 50px;
}
.motivation-details-2 .primary-button {
  margin-top: 30px;
}

/* update section */
.update-box {
  display: flex;
  background-color: bisque;
  width: 900px;
  padding: 50px;
  text-align: center;
  margin: 0 250px 100px 250px;
}
.update-box input {
  background-color: #d9d9d9;
}
.get-updates .section-description {
  margin-bottom: 50px;
}
.get-updates input[type="email"] {
  width: 30%;
  height: 34px;
  border: 0;
  padding: 10px 40px;
  margin-left: 230px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.subscribe-button {
  padding: 15px 15px;
  height: 54px;
  font-size: 15px;
  text-align: center;
  border-radius: none;
  background: #ff5959;
  color: #ffffff;
  font-weight: 500;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* footer section */
.footer-heading {
  text-align: center;
  color: #ff5959;
  font-family: Lobster;
  font-size: 35px;
  font-weight: 400;
}
footer {
  background-color: #121212;
  width: 100%;
  padding: 40px;
}
.slogan {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: 20px;
}
